@use "../base/variables" as *;

.header{
    background-color: $colorGreen;
    
    .contenido-header{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1{
        color: $colorWhite;
        margin: 0;
    }
}

.navegacion-principal{
    display: flex;
    gap: 2rem;

    a{
        color: $colorWhite;
        font-size: 2.4rem;

        &:hover{
            color: $colorYellow;
        }
    }
}

@mixin contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.header-contenedor{
    @include contenedor();
}